<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.3.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<!-- 注解扫描包 -->
	<context:component-scan base-package="com.agent" />

	<!-- 开启注解 -->
	<mvc:annotation-driven />
	<!-- 
	<mvc:annotation-driven >
	   <mvc:message-converters>   
	        <bean class="org.springframework.http.converter.StringHttpMessageConverter">   
	            <property name="supportedMediaTypes">   
	                <list>   
	                    <value>text/plain;charset=UTF-8</value>   
	                    <value>text/html;charset=UTF-8</value>   
	                </list>   
	            </property>   
	        </bean>    
	     </mvc:message-converters>   
	</mvc:annotation-driven>
	 -->
	<aop:aspectj-autoproxy/>
	
	
	<!--
		配置静态资源，直接映射到对应的文件夹，不被DispatcherServlet处理，3.04新增功能，需要重新设置spring-mvc-3.0.xsd
	-->
	<mvc:resources mapping="/resources/**" location="/resources/" />
	<mvc:resources mapping="/mine/**" location="/mine/" />
	<!-- 定义跳转的文件的前后缀 ，视图模式配置-->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 拦截器 
	<mvc:interceptors>
		<bean class="com.framework.common.interceptor.LoginInteceptor">
			<property name="excludeUrls">
				<list>
					<value>/login</value>
					<value>/doLogin</value>
					<value>/repeat</value>
				</list>
			</property>
		</bean>
		<bean class="com.framework.common.interceptor.LogInteceptor"/>
		<bean class="com.framework.common.interceptor.TokenInteceptor"/>
	</mvc:interceptors>
	-->
	
</beans>
